.border_container{
    width: 100%;
    margin: auto;
    height:auto;
    box-sizing: border-box;
}

.col-custom{
    float: left;
    box-sizing: border-box;
    width: 14.1%;
    height:200px;
    position: relative;
    border: 2px lightblue solid;
}

.text-design{
    margin:auto;
    text-align: center;
    height: 20px;
    border-bottom:1px blue solid;
}
.bottom-design{
    position:relative;
    height: 20px;
    bottom:0px !important;
    text-align: center;
    top:150px;
    border-top:1px blue dashed;
    background-color: lightskyblue;
    color:black;
    font-weight: bolder;
}


.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
.col-custom-date{
    float: left;
    box-sizing: border-box;
    width: 14.1%;
    height:25px;
    background-color: red;
    color:white;
}
.col-md-4{
    margin:auto !important;
}

.no-day{
    background-color: gray;
}

.bottom-design:hover{
    color:white;
    background-color: red;
    cursor: pointer;
}
.label a{
    color:white;
    text-decoration: none;
}