body{
    padding:0;
    margin:0;
    background-color:black;
    font-family: 'Lora', serif;
  }
  #prj-back{
      background-color: white !important; 
  }
  .home-index{
    background: url('img/background_1.jpg') no-repeat;
    min-height: 700px;
    background-size:cover;
    background-attachment: fixed;
  }
  .overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top:0;
    left:0;
    width: 100%;
    min-height: 700px;
  }
  .content{
    padding-top: 200px;
  }
  nav{
    background-color: white;
  }
  ul li{
    padding-left:20px;
    
  }
  ul li a{
    width:80px;
    margin: auto;
    padding:0;
  }
  ul li a:hover{
    background-color: white;
    color:black !important;
    font-weight: bolder !important;
  }
  section{
      padding-top:100px;
      background-color: white;
  }
  .color-text-link{
      text-decoration: none;
      color:black;
  }
  .left-alignment{
    float: left;
  }
  .right-alignment{
    float: right;
  }
  .p-2{
    background-color: yellow;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: 20px !important;
  }
  .w-100{
    padding-bottom: 10px;
  }
  .img-thumbnail{
      width:200px;
      height: 300px;
  }
  .img-thumbnail-2{
    width:400px;
    height: 200px;
  }